.pageBg{
  background:
    radial-gradient(700px 420px at 18% 20%, rgba(206,237,246,0.9), transparent 60%),
    radial-gradient(700px 420px at 86% 26%, rgba(255,173,29,0.18), transparent 60%),
    radial-gradient(700px 420px at 80% 86%, rgba(225,225,222,0.85), transparent 60%),
    #fff;
}
